<h2>{{title}}</h2>

<ul>
  <h3>Tactical</h3>
  <li ng-repeat="skill in skills | filter : 'tactical'" ng-click="update()">
    {{skill.name}} : {{skill.description}} ({{skill.type}})
  </li>
</ul>

<ul>
  <h3>Engineering</h3>
  <li ng-repeat="skill in skills | filter : 'engineering'" ng-click="update()">
    {{skill.name}} : {{skill.description}} ({{skill.type}})
  </li>
</ul>

<ul>
  <h3>Science</h3>
  <li ng-repeat="skill in skills | filter : 'science'" ng-click="update()">
    {{skill.name}} : {{skill.description}} ({{skill.type}})
  </li>
</ul>